 
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div><p class="h2 mt-4 mb-4">Dashboard</p></div>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">New Card Requests</div>
                            <div class="card-footer d-flex align-items-center">
                                <a class="small text-white stretched-link" href="#">View Details</a><span class="badge badge-light ms-2">0</span>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Correction Requests</div>
                            <div class="card-footer d-flex align-items-center">
                                <a class="small text-white stretched-link" href="#">View Details</a><span class="badge badge-danger ms-2">1</span>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Approved Requests</div>
                            <div class="card-footer d-flex align-items-center">
                                <a class="small text-white stretched-link" href="#">View Details</a><span class="badge badge-danger ms-2">3</span>
                                <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Delete Requests</div>
                            <div class="card-footer d-flex align-items-center">
                                <a class="small text-white stretched-link" href="#">View Details</a><span class="badge badge-light ms-2">0</span>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Issued citizen Data
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>email</th>
                                    <th>Contact</th>
                                    <th>Issue date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gopalakrishnan</td>
                                    <td>Male</td>
                                    <td>Madurai</td>
                                    <td>gk@gmail.com</td>
                                    <td>9952658175</td>
                                    <td>13/10/2022</td>
                                </tr>
                                <tr>
                                    <td>krishna</td>
                                    <td>Male</td>
                                    <td>Melur</td>
                                    <td>gk@test.com</td>
                                    <td>8220338647</td>
                                    <td>01/08/2021</td>
                                </tr>
                                <tr>
                                    <td>Geetha</td>
                                    <td>Female</td>
                                    <td>Chennai</td>
                                    <td>test@test.com</td>
                                    <td>1234567890</td>
                                    <td>13/10/2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Varniraj Service PVT. LTD 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
